PORT=3000
FIREBASE_PROJECT_ID=
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
PUBSUB_USER_CREATED_TOPIC=
PUBSUB_USER_CREATED_SUBSCRIPTION=

FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
PUBSUB_EMULATOR_HOST=127.0.0.1:8085